* {
  margin: 0;
  padding: 0;
  font-family: montserrat, sans-serif;
  font-weight: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  content: inherit;
}

span {
  color: var(--grayscale-50, #333);
  font-family: Montserrat;
  font-size: 6vh;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

p {
  color: var(--grayscale-10, #9C9C9C);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (max-width: 1280px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 811px) {
  a {
    font-size: 1.2vh;
    padding: 2vw;
  }
  span {
    font-size: 3vh;
  }
}
@media screen and (max-width: 400px) {
  span {
    font-size: 3vh;
  }
  p {
    font-size: 2.5vh;
  }
}
