@import "./../variables.scss";

.header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    text-decoration: none;


    &__logo {
        list-style-type: none;
        font-weight: 700;
        font-size: 32px;
        line-height: 170%;
        text-decoration: none;
        color: black;
    }

}

.nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;

    &__item {
        &_button {
            color: $gray_white;
            padding: 14px 32px;
            background: $primary_blue100 ;
            text-decoration: none;

            &_a {
                text-decoration: none;


            }
        }
    }


}

.tel {
    text-decoration: none;
    color: $gray_white;

}





@media screen and (max-width: 809px) {
    #top {
        display: none;
    }
    .none {
        display: none;
    }

    .header {

        display: flex;
        align-items: center;
        justify-content: stretch;
        margin-top: 2vh;
        margin-left: 0.5vw;
        text-decoration: none;
    
    
        &__logo {
            list-style-type: none;
            font-weight: 700;
            font-size: 3vh;
            line-height: 170%;
            text-decoration: none;
            color: black;
        }
    
    }
    
    .nav {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: stretch;
        width: 5vw;

        &__item .a {
            font-size: 1vh;
        }
        
        &__item {
            
            margin-left: 3vw;

            

            &_button {
                color: $gray_white;
                padding: 1.1vw 4vw 1.1vw;
                font-size: 1.2vh;
                background: $primary_blue100 ;
                text-decoration: none;
    
                &_a {
                    text-decoration: none;
    
    
                }
            }
        }
    
    
    }
    
}

