@import "./../variables.scss";

.header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3vw;
    

    text-decoration: none;


    &__logo {
        list-style-type: none;
        font-weight: 700;
        font-size: 2vw;
        line-height: 170%;
        text-decoration: none;
        color: black;
    }

}

.nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40vw;

    &__item {
        &_button {
            color: $gray_white;
            padding: 14px 32px;
            background: $primary_blue100 ;
            text-decoration: none;

            &_a {
                text-decoration: none;


            }
        }

        &__span {
            font-size: 2vh;
            color: $gray_white;
        }
        &__image {
            display: none;
        }
    }


}
.header_tel {
    display: none;
}

.tel {
    text-decoration: none;
    color: $gray_white;

}



@media screen and (max-width: 1441px) {
   
   .header {
    position: relative;
    right: 2vw;
   }
    .nav {
        position: relative;
        right: 5vw;

        &__item {
            margin-left: 2vw;
            margin-right: 2vw;
        }
    }
}

@media screen and (max-width: 1280px) {
    .nav{
       &__item {
        &:first-child {
            display: none;
        }
       }
    }
}


@media screen and (max-width: 811px) {
    
    .headheader {
        margin-left: 3vw;
    }
    
    #top {


        display: none;
    }
    .none {
        display: none;
    }

    .header {

        display: flex;
        align-items: center;
        justify-content: stretch;
        margin-top: 4vh;
        margin-left:  0vw;
        text-decoration: none;
    
    
        &__logo {
            list-style-type: none;
            font-weight: 700;
            font-size: 1.4rem;
            line-height: 170%;
            text-decoration: none;
            color: black;
        }
    
    }
    
    .nav {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: stretch;
        width: 60vw;
        position: relative;
        right: 0vw;

       
       
        
        &__item {
           
            margin-left: 1vw;

            &__a {
                font-size: 1.5vh;
            }

            &_button {
                color: $gray_white;
                padding: 0vw 2vw 1vw;
                font-size: 1.2vh;
                background: $primary_blue100 ;
                text-decoration: none;
    
                &_a {
                    text-decoration: none;
    
    
                }
            }
            &__span {
                font-size: 1.5vh;
            }
        }
    
    
    }
    
}



@media screen and (max-width: 400px)  {

    .header{
        &__logo {
            display: flex;
            flex-direction: row;
            font-size: 3vh;
            justify-content: start;
            
        }
    }

    .nav{

       
        margin-left: 20vw;
        &__item:nth-child(2){
            display: none;
        }
        &__item:nth-child(3){
            display: none;
        }
        &__item{
            &__span {
                display: none;
            }
            &__image {
                display: block;
                width: 10vw;
                height: 4vh;
                padding: 0.5vh;
               

            }
        }
    }

    
    }
