@import "./../variables.scss";

.hero__logo {
    &__h1 {
        color: var(--grayscale-50, #333);
        font-family: Montserrat;
        font-size: 10vh;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;

        &::after {
            content: '';
            display: block;
            width: 28vw;
            height: 4px;
            background: rgb(11, 15, 11);
            position: relative;
            margin-left: 48vw;

            bottom: 35vh;
        }


    }

    &__h2 {
        color: var(--grayscale-50, #333);
        font-family: Montserrat;
        font-size: 7vh;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;

        &::after {
            content: '';
            display: block;
            width: 28vw;
            height: 4px;
            background: rgb(11, 15, 11);
            position: relative;
            margin-left: 47vw;

            bottom: 24vh;
        }
    }

    &__plans {
        color: var(--grayscale-50, #333);
        font-family: Montserrat;
        font-size: 7vh;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;

        &::after {
            content: '';
            display: block;
            width: 28vw;
            height: 4px;
            background: rgb(11, 15, 11);
            position: relative;
            margin-left: 45vw;

            bottom: 14vh;
        }
    }

}


.hero {

    &__image {

        &__img {

            width: 100%;


        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 20%;
        top: 40%;






        &__item {
            background-color: $primary_blue100;
            width: 17vw;
            height: 24vh;

            .one-minets {
                position: relative;
                top: 5vh;
                left: 3vw;
            }

            #one_loco {
                position: relative;
                left: 3vw;

            }

            &__span {
                text-align: center;
                color: $gray_white;
                font-family: Montserrat;
                font-size: 2.5vw;
                font-style: normal;
                font-weight: 400;
                line-height: 160%;
                margin: 2vw;
                position: relative;
                top: 3vh;
                left: 1vw;

            }

            #span {
                left: 3.5vw;
            }

            &__p {
                text-align: center;
                font-family: Montserrat;
                font-size: 1vw;
                font-style: normal;
                font-weight: 400;
                line-height: 160%;
                color: $gray_white;
                position: relative;
                top: 4vh;
            }
        }
    }

    &__text_plan {
        top: 33%;
    }

    &__nav {
        display: none;


    }

}

@media screen and (max-width: 1441px) {
    .hero__logo {
        &__h1 {

            font-size: 6vh;

            &::after {
                content: '';
                display: block;
                width: 28vw;
                height: 4px;
                background: rgb(11, 15, 11);
                position: relative;
                margin-left: 45vw;
                margin-bottom: 5vh;
                bottom: 21vh;
            }
        }

        &__h2 {
            font-size: 4.5vh;

            &::after {
                bottom: 15.5vh;
                margin-left: 50vw;
                margin-bottom: 5vh;
            }
        }

        &__plans {
            font-size: 4.5vh;

            &::after {
                bottom: 14.4vh;
                margin-left: 45vw;
                margin-top: 5vh;
            }
        }

    }

    .hero {


        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 30%;





            &__item {
                background-color: $primary_blue100;
                width: 17vw;
                height: 20vh;

                .one-minets {
                    position: relative;
                    top: 5vh;
                    left: 1vw;
                }

                #one_loco {
                    position: relative;
                    left: 1vw;
                    top: 3.5vh;
                }

                &__span {
                    text-align: center;
                    color: $gray_white;
                    font-family: Montserrat;
                    font-size: 3vw;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%;
                    margin: 4vh;
                    position: relative;
                    top: 5vh;
                    left: 0vw;
                    bottom: 5vh;

                }

                &__p {
                    text-align: center;
                    font-family: Montserrat;
                    font-size: 1vw;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%;
                    color: $gray_white;
                    position: relative;
                    top: 4vh;
                }

                #span {
                    left: 2vw;

                }

                #span60 {
                    top: 3vh;
                }
            }
        }

        &__text_plan {
            top: 28%;
        }

        &__subtext {
            margin-top: 10vh;
        }

    }

}

@media screen and (max-width: 1280px) {
    .hero__logo {
        &__h1 {

            font-size: 5vh;

            &::after {
                content: '';
                display: block;
                width: 28vw;
                height: 4px;
                background: rgb(11, 15, 11);
                position: relative;
                margin-left: 42vw;
                margin-bottom: 5vh;
                bottom: 18vh;
            }
        }

        &__h2 {
            font-size: 4vh;

            &::after {
                bottom: 14vh;
                margin-bottom: 5vh;
            }
        }

        &__plans {
            font-size: 5vh;

            &::after {
                bottom: 15.4vh;
                margin-left: 48vw;
                margin-top: 5vh;
            }
        }

    }

    .hero {


        &__text {

            position: absolute;
            top: 20%;





            &__item {
                background-color: $primary_blue100;
                width: 18vw;
                height: 20vh;

                .one-minets {
                    position: relative;
                    top: 5vh;
                    left: 2vw;
                }

                #one_loco {
                    position: relative;
                    left: 1vw;
                    top: 3.5vh;
                }

                &__span {
                    text-align: center;
                    color: $gray_white;
                    font-family: Montserrat;
                    font-size: 3vw;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%;
                    margin: 4vh;
                    position: relative;
                    top: 5vh;
                    left: 1vw;
                    bottom: 5vh;

                }

                &__p {
                    text-align: center;
                    font-family: Montserrat;
                    font-size: 1vw;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%;
                    color: $gray_white;
                    position: relative;
                    top: 4vh;
                }

                #span {
                    left: 3vw;

                }

                #span60 {
                    top: 3vh;
                }
            }
        }

        &__text_plan {
            top: 25%;
        }

        &__text_loco {
            top: 30%;
        }

        &__subtext {
            margin-top: 10vh;
        }

    }

}

@media screen and (max-width: 1080px) {
    .hero__logo {

        &__plans {

            &::after {
                bottom: 15.4vh;
                margin-left: 58vw;
                margin-top: 5vh;
            }

        }
    }
}

@media screen and (max-height: 550px) and (max-width: 900px) {
   

    .hero__logo {

        &__h1 {
            font-size: 3rem;

            &::after {
                margin-left: 55vw;
                bottom: 20vh;
                height: 3px;
                width: 25vw;
            }
        }

        &__h2 {
            font-size: 3vh;

            &::after {
                margin-left: 60vw;
                bottom: 10.5vh;
                height: 3px;
                width: 20vw;
            }
        }

        &__plans {
            font-size: 3vh;

            &::after {
                margin-left: 52vw;
                bottom: 11vh;
                height: 3px;
                width: 20vw;
            }
        }

    }

    .hero {
        &__text {
            &__item {
                min-height: 30vh;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .hero__logo {

        &__h1 {
            font-size: 2rem;

            &::after {
                margin-left: 55vw;
                bottom: 14vh;
                height: 3px;
                width: 25vw;
            }
        }

        &__h2 {
            font-size: 3vh;

            &::after {
                margin-left: 60vw;
                bottom: 10.5vh;
                height: 3px;
                width: 20vw;
            }
        }

        &__plans {
            font-size: 3vh;

            &::after {
                margin-left: 52vw;
                bottom: 11vh;
                height: 3px;
                width: 20vw;
            }
        }

    }

    .hero {
        &__text {
            all: initial;
            display: flex;
            flex-direction: row;

            position: relative;

            &__item {

                width: 30vw;
                height: 15vh;

                &__span {
                    font-size: 2rem;
                    top: 1vh;
                    left: 3vw;
                }

                &__p {
                    top: 2vh;
                    left: 1vw;
                    font-size: 0.8rem;
                }

                #span {
                    top: 2vh;
                    left: 6vw;
                }
            }



            .one-minets {
                position: relative;
                top: 1.5vh;
                left: 5vw;
            }

            #m60 {
                top: 1vh;
            }
        }

        &__text_loco {
            position: absolute;
            right: 5%;

            &__item {
                height: 15vh;
                width: 25vw;
            }

            #one_loco {
                left: 2.5vw;


            }

            #one_loco_p {
                position: relative;
                margin-top: 2vh;
            }



        }

        &__text_plan {
            position: absolute;
            right: 5%;

            &__item {
                height: 15vh;
                width: 25vw;


                #span60 {
                    left: 0vh;
                    font-size: 3.5vh;
                }

                &__p {
                    font-size: 2vh;
                }

            }
        }
    }
}

@media screen and (max-width: 450px) {
    .hero__logo {

        &__h1 {
            font-size: 3vh;

            &::after {
                height: 0px;
                display: none;

            }

            &__h2 {
                font-size: 3vh;

                &::after {
                    content: '';
                    height: 2px;
                    width: 1px;
                    color: aqua;
                    display: none;
                }

            }

            &__plans {
                font-size: 1vh;

                &::after {


                    height: 0px;

                }
            }

            #logo_plans {
                font-size: 1vh;
            }

        }
    }

    #logo_plans {
        font-size: 2.5vh;
    }

    .hero {

        &__text {

            &__loco {
                &__span {
                    position: relative;
                    bottom: 5vh;
                }
            }


            &__item {
                display: block;
                height: 9vh;
                position: relative;



                &__span {

                    font-size: 2vh;
                    margin: 3vh;
                    padding: 0.5vh;
                    left: 1vw;
                    bottom: 0vh;
                    white-space: nowrap;


                }

                &__p {

                    font-size: 1vh;
                }
            }
        }

        .one-minets {
            left: 1.8vh;
        }

        #span {
            left: 3vw;
            top: 1.5vh;

        }

        #m60 {
            top: 1vh;
        }

        #one_loco {
            font-size: 2.5vh;
            left: -1vw;
            top: 2vh;
            right: 2vw;
        }

        #one_loco_p {
            font-size: 1vh;
            margin-top: 0vh;
        }

        #span60 {
            font-size: 2vh;
            left: -2vw;
            top: 2vh;
        }

        #span60_p {
            font-size: 0.9vh;
            left: 0vw;
        }

        .hero__text_loco__item .span {
            position: relative;
            ;
        }




        &__nav {
            margin-top: 1vh;

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: end;

            &__item {
                color: $gray_white;
                font-family: Montserrat;
                padding: 2vh 2vh;
                background: $primary_blue100 ;
                text-decoration: none;
                margin: 0.9vw;
                margin-left: 0.1vw;
                font-size: 2.5vh;




            }

            &__item:first-child {
                position: relative;

            }


        }


    }

    .hero__logo__h2::after {
        margin-left: 60vw;
        bottom: 10.5vh;
        height: 0px;
        width: 20vw;
    }

    .hero__logo__plans::after {
        margin-left: 60vw;
        bottom: 10.5vh;
        height: 0px;
        width: 20vw;
    }




}