@import "./../variables.scss";


.hero__logo__h2 {
    &:after {
        content: '';
        display: block;
        width: 28vw;
        height: 4px;
        background: rgb(11, 15, 11);
        margin-left: 41vw;
        position: relative;
        bottom: 21vh;

    }
}

.hero__logo__plans {
    &:after {
        content: '';
        display: block;
        width: 28vw;
        height: 4px;
        background: rgb(11, 15, 11);
        margin-left: 38vw;
        position: relative;
        bottom: 12vh;

    }
}


.hero__logo {



    &__h1 {
        color: #333;
        font-family: Montserrat;
        font-size: 8vh;
        font-style: normal;
        font-weight: 654;
        line-height: 140%;

        &:after {
            content: "";
            display: block;
            width: 27vw;
            height: 5px;
            background: rgb(11, 15, 11);
            margin-left: 40vw;
            position: relative;
            bottom: 27vh;

        }
    }

    &__h2 {
        color: $gray_50;
        margin-top: 50px;
        font-family: Montserrat;
        font-size: 6vh;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
    }
}

.hero__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 17%;
    top: 30%;





    &__item:nth-child(3) {
        justify-content: start;
        height: 15.65vh;
    }




    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 252px;
        height: 170px;


        background: $primary_blue100;


        &__p {
            text-align: center;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
            color: $gray_white;

        }

        &__span {
            text-align: center;
            color: $gray_white;
            font-family: Montserrat;
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;

        }
    }

}

.hero__text_loco {
   
  
   
}

.hero__text_plan {
    top: 33%;
}



.hero .hero__img {
    width: 100%;
    position: relative;
    top: 10vw;



}

.hero {

    &__subtext {
        margin: 70px;
    }
}


@media screen and (max-width: 809px) {

    .hero__logo {



        &__h1 {
            color: #333;
            font-family: Montserrat;
            font-size: 4vh;
            font-style: normal;
            font-weight: 654;
            line-height: 140%;

            &:after {
                content: "";
                display: block;
                width: 27vw;
                height: 5px;
                background: rgb(11, 15, 11);


            }
        }

        &__h2 {
            color: $gray_50;
            margin-top: 50px;
            font-family: Montserrat;
            font-size: 3vh;
            font-style: normal;
            font-weight: 700;
            line-height: 140%;

            &:after {
                content: '';
                display: block;
                width: 28vw;
                height: 4px;
                background: rgb(11, 15, 11);
                margin-left: 60vw;
                position: relative;
                bottom: 10.5vh;

            }
        }

        &__plans {

            &::after {
                margin-left: 55vw;
                position: relative;
                bottom: 6.4vh;
            }
        }
    }



    .hero__text {
        display: flex;
        flex-direction: row;
        position: relative;
        left: 0vw;

    }



    .hero .hero__image {

        &__img {
            width: 100%;

        }




    }



    #hero_p {
        position: relative;
        top: 4vh;

    }

    #span {
        position: relative;
        top: 4vh;
    }
    .hero__text_loco {
        position: absolute;
        top: 24.7%;
        left: 64%;
        right: 0%;
    }
    
    .hero__text_plan {
        position: absolute;
        top: 20.5%;
        left: 64%;
        right: 0%;
    }
}

