.application {
  margin-top: 4vh;
  background-color: #2C3878;
}
.application__text {
  position: relative;
  top: 8.4vh;
  margin: 4vw;
}
.application__text p {
  color: #FFF;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  padding-bottom: 200px;
}
.application__form {
  display: block;
  position: relative;
  left: 50vw;
  bottom: 350px;
  max-width: 20vw;
}
.application__form__label {
  color: #FFF;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.application__form__input {
  background: #2C3878;
  margin-top: 10px;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #FFF;
}
.application__form__input::-webkit-input-placeholder {
  font-size: 2vh;
  color: #FFF;
}
.application__form__input::-moz-placeholder {
  font-size: 2vh;
  color: #FFF;
}
.application__form__input:-ms-input-placeholder {
  font-size: 2vh;
  color: #FFF;
}
.application__form__input::-ms-input-placeholder {
  font-size: 2vh;
  color: #FFF;
}
.application__form__input::placeholder {
  font-size: 2vh;
  color: #FFF;
}
.application__form__label::-webkit-input-placeholder {
  font-size: 4vh;
  color: #FFF;
}
.application__form__label::-moz-placeholder {
  font-size: 4vh;
  color: #FFF;
}
.application__form__label:-ms-input-placeholder {
  font-size: 4vh;
  color: #FFF;
}
.application__form__label::-ms-input-placeholder {
  font-size: 4vh;
  color: #FFF;
}
.application__form__label::placeholder {
  font-size: 4vh;
  color: #FFF;
}
.application__form__button {
  background-color: #FFF;
  padding: 1vw 32px;
  position: relative;
  top: 3vh;
  font-size: 2vh;
  text-decoration: none;
}

@media screen and (max-width: 1441px) {
  .application__form__button {
    font-size: 1.4vw;
    padding: 1vw 1px;
  }
  .application__text p {
    position: relative;
    left: 6vw;
  }
}
@media screen and (max-width: 1280px) {
  .application__cont {
    position: relative;
    top: 8vh;
  }
  .application__form {
    position: relative;
    bottom: 5 vh;
  }
  .application__form__button {
    font-size: 1.4vw;
    padding: 1vw 1px;
  }
  .application__text {
    position: relative;
    right: 5vw;
    top: 5vh;
  }
}
@media screen and (max-width: 811px) {
  .application__cont {
    top: 1vh;
  }
  .application__form {
    display: block;
    position: relative;
    left: 5vw;
    bottom: 10vh;
    max-width: 40vw;
  }
  .application__form__button {
    font-size: 1.9vw;
    padding: 2vw 5vw;
  }
}
@media screen and (max-width: 400px) {
  .application__text p {
    left: 7vw;
    font-size: 2.4vh;
  }
  .application__form {
    position: relative;
    left: 0vw;
    bottom: 12vh;
  }
  .application__form__label {
    width: 88vw;
    font-size: 3vh;
  }
  .application__form__input {
    width: 88vw;
    font-size: 3vh;
  }
  .application__form__button {
    display: block;
    font-family: Montserrat;
    text-align: center;
    padding: 1.5vh 3vh;
    font-size: 2vh;
    width: 65vw;
  }
}
