.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #2C3878;
  padding-bottom: 50px;
}
.footer__logo {
  color: #FFF;
  -webkit-font-feature-settings: "clig" off, "liga" off;
          font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 170%;
}
.footer__tel {
  color: #FFF;
  -webkit-font-feature-settings: "clig" off, "liga" off;
          font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 170%;
}

@media screen and (max-width: 400px) {
  .footer {
    padding: 3vh;
    display: block;
  }
  .footer__logo {
    font-size: 3vh;
  }
  .footer__tel {
    font-size: 3vh;
  }
}
